In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
df_bf = pd.read_csv('users/best_friends.csv')
print(df_bf.shape)
df_bf.head()

(72, 1)

                                       profileUrl
0  https://www.instagram.com/sleeper_cellz_of_psg
1   https://www.instagram.com/__the_lonely_king__
2         https://www.instagram.com/__a.l.f.r.e.d
3         https://www.instagram.com/_.deen_rifa._
4            https://www.instagram.com/ashwin7818

In [3]:
df_bf.isnull().sum()

profileUrl    0
dtype: int64

In [4]:
bestfriends = []
for i in df_bf['profileUrl']:
    bestfriends.append(i)
len(bestfriends)

72

In [6]:
filenames = []
for i in df_bf['profileUrl']:
    filename = i[26:]+"(following).csv"
    filenames.append(filename)
len(filenames)

72

# CREATING FOLLOWING-MERGED DATASET

In [8]:
df_all = pd.read_csv('following/'+filenames[0])
shape = []
shape.append(df_all.shape[0])


for i in range(1,len(filenames)):
    df_temp = pd.read_csv('following/'+filenames[i])
    shape.append(df_temp.shape[0])
    df_all = df_all.append(df_temp,ignore_index=True)

In [78]:
print(sum(shape))
print(df_all.shape)

53604
(53604, 11)

In [9]:
df_all.head()

,profileUrl,username,fullName,imgUrl,id,isPrivate,isVerified,followedByViewer,query,timestamp,Unnamed: 10
0,https://www.instagram.com/sangavi_muthusamy,sangavi_muthusamy,Sangavi,https://scontent-lga3-2.cdninstagram.com/v/t51...,2989009484,false,False,False,https://www.instagram.com/sleeper_cellz_of_psg,2021-03-29T11:26:28.916Z,NaN
1,https://www.instagram.com/shreeja_nandiath,shreeja_nandiath,Shreeja KrishnaKumar,https://scontent-lga3-2.cdninstagram.com/v/t51...,4519265393,false,False,False,https://www.instagram.com/sleeper_cellz_of_psg,2021-03-29T11:26:28.916Z,NaN
2,https://www.instagram.com/pari_poorani,pari_poorani,Pari Poorani üå∏,https://instagram.ftsr1-2.fna.fbcdn.net/v/t51....,1494825864,true,False,False,https://www.instagram.com/sleeper_cellz_of_psg,2021-03-29T11:26:28.916Z,NaN
3,https://www.instagram.com/___sam__walker___,___sam__walker___,‡Æö‡Ææ‡ÆÆ‡ØÅ‡Æµ‡Øá‡Æ≤‡Øç,https://scontent-lga3-2.cdninstagram.com/v/t51...,3755158231,false,False,False,https://www.instagram.com/sleeper_cellz_of_psg,2021-03-29T11:26:28.916Z,NaN
4,https://www.instagram.com/_bhuvi26_,_bhuvi26_,Bhuviüëë‚ú®,https://scontent-lga3-2.cdninstagram.com/v/t51...,5471366869,true,False,False,https://www.instagram.com/sleeper_cellz_of_psg,2021-03-29T11:26:28.916Z,NaN

In [10]:
df = df_all[['query','profileUrl']]
df.columns = ['user','profileUrl']
print(df.shape)
df.head()

(53604, 2)

,user,profileUrl
0,https://www.instagram.com/sleeper_cellz_of_psg,https://www.instagram.com/sangavi_muthusamy
1,https://www.instagram.com/sleeper_cellz_of_psg,https://www.instagram.com/shreeja_nandiath
2,https://www.instagram.com/sleeper_cellz_of_psg,https://www.instagram.com/pari_poorani
3,https://www.instagram.com/sleeper_cellz_of_psg,https://www.instagram.com/___sam__walker___
4,https://www.instagram.com/sleeper_cellz_of_psg,https://www.instagram.com/_bhuvi26_

In [11]:
df[df['user'].isnull() == True]

     user                                  profileUrl
7679  NaN  https://www.instagram.com/sudharsan_sudhee
7680  NaN                                  ùïæùñöùñâùñçùñÜùñóùñòùñÜùñì·öî
7681  NaN                                           ‚©¢

In [19]:
df.dropna(inplace = True)
df = df.reset_index(drop=True)
df.shape

(53601, 2)

In [24]:
df[df['user']=='false']

        user                                       profileUrl
4286   false          https://www.instagram.com/yaswanth_rock
10878  false           https://www.instagram.com/semma_status
23380  false               https://www.instagram.com/baladjyy
35655  false  https://www.instagram.com/prasanna_gothandapani
47953  false    https://www.instagram.com/true_love_with_you_
48070  false           https://www.instagram.com/semma_status

In [29]:
df = df[df['user']!='false']
df = df.reset_index(drop=True)
df.shape

(53595, 2)

In [62]:
#number of nodes
print(len(set(df['profileUrl'])|set(df['user'])))

42281

In [26]:
df.to_csv('datasets/followingmerged.csv',header = False, index = False)

In [31]:
edges = []
for i in tqdm(range(len(df['profileUrl']))):
    temp = [df['profileUrl'][i],df['user'][i]]
    #print(temp)
    if temp not in edges:
        edges.append(temp)

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 53595/53595 [00:41<00:00, 1306.80it/s]

In [32]:
print(len(edges))

53595

In [33]:
df[df['profileUrl']=='https://www.instagram.com/aruntrendzzz']

,user,profileUrl
1982,https://www.instagram.com/sleeper_cellz_of_psg,https://www.instagram.com/aruntrendzzz
5178,https://www.instagram.com/__the_lonely_king__,https://www.instagram.com/aruntrendzzz
5947,https://www.instagram.com/__a.l.f.r.e.d,https://www.instagram.com/aruntrendzzz
6559,https://www.instagram.com/_.deen_rifa._,https://www.instagram.com/aruntrendzzz
7433,https://www.instagram.com/ashwin7818,https://www.instagram.com/aruntrendzzz
...,...,...
51858,https://www.instagram.com/pavithra_kumar_t,https://www.instagram.com/aruntrendzzz
52309,https://www.instagram.com/kavii.07,https://www.instagram.com/aruntrendzzz
52729,https://www.instagram.com/parker_prasath__,https://www.instagram.com/aruntrendzzz
53068,https://www.instagram.com/ak__photography0007,https://www.instagram.com/aruntrendzzz
53593,https://www.instagram.com/_the_eminent_artist_,https://www.instagram.com/aruntrendzzz

# ESTABLISHING BEST FRIENDS NETWORK

In [67]:
df_filtered_followers = pd.merge(df,df_bf,how = 'inner')
df_filtered_followers

,user,profileUrl
0,https://www.instagram.com/sleeper_cellz_of_psg,https://www.instagram.com/akil_yadhav
1,https://www.instagram.com/techy_trolls,https://www.instagram.com/akil_yadhav
2,https://www.instagram.com/projects_360_,https://www.instagram.com/akil_yadhav
3,https://www.instagram.com/_.b.k.g._,https://www.instagram.com/akil_yadhav
4,https://www.instagram.com/ajey729,https://www.instagram.com/akil_yadhav
...,...,...
454,https://www.instagram.com/akil_yadhav,https://www.instagram.com/projects_360_
455,https://www.instagram.com/___sallu___rocky___,https://www.instagram.com/sanjay_sandy3
456,https://www.instagram.com/a_shibu_musical_offi...,https://www.instagram.com/_pirate_10
457,https://www.instagram.com/rj_mokshith,https://www.instagram.com/manojh_sivakumar
458,https://www.instagram.com/parker_prasath__,https://www.instagram.com/kavii.07

In [68]:
set(df_bf['profileUrl'])-(set(df_filtered_followers['user'])|set(df_filtered_followers['profileUrl']))

{'https://www.instagram.com/_.deen_rifa._',
 'https://www.instagram.com/black_pearl_sri',
 'https://www.instagram.com/pavithra_kumar_t',
 'https://www.instagram.com/prabu414',
 'https://www.instagram.com/sridhar.362'}

In [69]:
#This indicates that these 5 nodes have no edges between the best friends of aruntrenzzz -- isolated nodes
print(set(df[df['user'] == 'https://www.instagram.com/_.deen_rifa._']['profileUrl'])&set(df_bf['profileUrl']))
print(set(df[df['user'] == 'https://www.instagram.com/black_pearl_sri']['profileUrl'])&set(df_bf['profileUrl']))
print(set(df[df['user'] == 'https://www.instagram.com/pavithra_kumar_t']['profileUrl'])&set(df_bf['profileUrl']))
print(set(df[df['user'] == 'https://www.instagram.com/prabu414']['profileUrl'])&set(df_bf['profileUrl']))
print(set(df[df['user'] == 'https://www.instagram.com/sridhar.362']['profileUrl'])&set(df_bf['profileUrl']))

set()
set()
set()
set()
set()

In [70]:
#inserting isolated nodes to the dataframe df_filtered_followers
df_temp = pd.DataFrame({'user':['https://www.instagram.com/_.deen_rifa._','https://www.instagram.com/black_pearl_sri','https://www.instagram.com/pavithra_kumar_t','https://www.instagram.com/prabu414','https://www.instagram.com/sridhar.362']})
df_temp

                                         user
0     https://www.instagram.com/_.deen_rifa._
1   https://www.instagram.com/black_pearl_sri
2  https://www.instagram.com/pavithra_kumar_t
3          https://www.instagram.com/prabu414
4       https://www.instagram.com/sridhar.362

In [71]:
df_filtered_followers = df_filtered_followers.append(df_temp,ignore_index=True)
df_filtered_followers.shape

(464, 2)

In [80]:
len(set(df_filtered_followers['user'])|set(df_filtered_followers['profileUrl']))

73

In [72]:
df_filtered_followers.to_csv('datasets/bestfriendsgraph-following.csv',header = False, index = False)